{% extends "base.html" %}

{% block content %}

<h2>Dashboard</h2>

<div style="display:flex; gap:20px; flex-wrap:wrap;">

    <div class="card" style="flex:1;">
        <h3>Total Members</h3>
        <p style="font-size:28px; font-weight:bold;">
            {{ total_members }}
        </p>
    </div>

    <div class="card" style="flex:1;">
        <h3>Total Attendance ({{ year }})</h3>
        <p style="font-size:28px; font-weight:bold;">
            {{ total_attendance }}
        </p>
    </div>

</div>

{% endblock %}