{% extends "layout.html" %}
{% block content %}

<h3>Members</h3>

<div class="card p-4 mb-4">
    <form method="POST">
        <div class="row">
            <div class="col-md-5">
                <input name="sabil" placeholder="Sabil Number" class="form-control" required>
            </div>
            <div class="col-md-5">
                <input name="name" placeholder="Member Name" class="form-control" required>
            </div>
            <div class="col-md-2">
                <button class="btn btn-dark w-100">Add</button>
            </div>
        </div>
    </form>
</div>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Sabil</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    {% for m in members %}
    <tr>
        <td>{{ m[0] }}</td>
        <td>{{ m[1] }}</td>
        <td>{{ m[2] }}</td>
        <td>
            <a href="/edit_member/{{ m[0] }}" class="btn btn-sm btn-warning">Edit</a>
            <a href="/delete_member/{{ m[0] }}" class="btn btn-sm btn-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}